
h2 {
  font-weight: 700;
  color: #1E90FF;
}

.courseName {
  background-color: #00008B;
  width: 150px;
  color: white;
  border: 1px solid #1E90FF;
}

.deletebtn {
  background-color: #003399;
  color: white;
  border: none;
}
