h2 {
  font-weight: 700;
  color: #1E90FF;
}

.coursebtn {
  background-color: #00008B;
  width: 150px;
  color: white;
  border: 1px solid #1E90FF;
}

.plusbtn {
  background-color: #003399;
  color: white;
  border: none;
}

button {
  background-color: #00008B;
  width:auto;
  color: white;
  border: 1px solid #1E90FF;
}
